@model LojaVirtual.Models.Produto

<br />
<h2>Produto</h2>
<br />
<b>Codigo: </b>@Model.Id
<br />
<b>Nome: </b>@Model.Nome
<br />
<b>Descricao: </b>@Model.Descricao
<br />
<b>Valor: </b>@Model.Valor
<br />
<h2>HTML Forms</h2>

<form action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>

</form>
<br />
Todos os direitos reservados